asgiref==3.7.2
distlib==0.3.7
Django==4.2.5
django-debug-toolbar==4.2.0
filelock==3.12.3
mysqlclient==2.2.0
numpy==1.25.2
opencv-python==4.8.0.76
platformdirs==3.10.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.7.1
virtualenv==20.24.4
